@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #202430;
  color: #ffffff;
  box-sizing: border-box;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
